@import 'blanks.scss';

.about{
  @include desktop-width();
  margin-bottom: 106px;

  .about__photos{
    display: flex;
    justify-content: space-between;

    .photos__item{
      cursor: pointer;
      position: relative;

      &:hover:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $turquoise;
      }

    }
  }
}