@import 'blanks.scss';

.about{
  @include desktop-width();
  margin-bottom: 108px;

  .about__photos{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;

    .photos__item{
      cursor: pointer;
      position: relative;
      width: 32.5%;

      .about__picture{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        transition: .5s;
      }

      .item__inner{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        transition: .5s;

        .inner-bg{
          width: 100%;
          height: 100%;
          z-index: -1;
          position: absolute;
          background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
        }

        .inner__flex-item{
          text-align: center;

          .inner__user-plus-logo{
            margin-bottom: 30px;
          }
          .inner__text{
            @include font(Raleway, 24px, 500, #fff);
          }
        }
      }
      .item__inner:before{
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
        display: none;
        transform: translate(16px, 16px);
        position: absolute;
        background-color: $turquoise;
      }
      .item__inner:hover:before{
        display: block;
      }
      .about__picture:hover~.item__inner:before{
        display: block;
      }
      .item__inner:hover{
        z-index: 2;
        transform: translate(-16px, -16px);
      }
      .about__picture:hover~.item__inner{
        z-index: 2;
        transform: translate(-16px, -16px);
      }
    }
  }
}

@media(max-width: 1024px){
  .about{
    margin-bottom: 60px;

    .about__photos{
      margin-top: 48px;

      .photos__item{

        .item__inner{
          .inner__flex-item{

            .inner__user-plus-logo{
              width: 33px;
              margin-bottom: 25px;
            }
            .inner__text{
              font-size: 18px;
            }
          }
        }
        .item__inner:before{
          transform: translate(6px, 6px);
        }
        .item__inner:hover{
          transform: translate(-6px, -6px);
        }
        .about__picture:hover~.item__inner{
          transform: translate(-6px, -6px);
        }
      }
    }
  }
}

@media(max-width: 768px){
  .about{
    margin-bottom: 59px;

    .about__photos{
      flex-direction: column;
      align-items: center;
      margin-top: 16px;

      .photos__item{
        width: 100%;
        max-width: 288px;

        &:not(:last-child){
          margin-bottom: 16px;
        }

        .about__picture{
          max-height: 258px;
        }

        .item__inner{
          max-height: 83px;
          top: calc(100% - 83px);
          z-index: 2;

          .inner__flex-item{
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;

            .inner__user-plus-logo{
              width: 30px;
              margin: 0 0 0 14px;
            }
            .inner__text{
              text-align: left;
              width: 100%;
              line-height: 30px;
              margin-left: 32px;
            }
          }
        }
        .item__inner:hover:before{
          display: none;
        }
        .item__inner:hover{
          transform: translate(0, 0);
        }
        .about__picture:hover~.item__inner{
          transform: translate(0, 0);
        }
      }
    }
  }
}