$bg-header: url('../images/header/background-image.png');
$header-gradient: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
$black: #2D3033;
$pink: #F38281;
$turquoise: #95E1D3;

@mixin font($font-family, $font-size, $font-weight, $color){
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin desktop-width(){
  max-width: 1170px;
  margin: 0 auto;
}