@import 'blanks.scss';

.facilities{
  @include desktop-width();
  margin-bottom: 114px;
  padding: 0 16px;
}
.facilities__list{
  margin: 42px 0 0;
  display: flex;
  justify-content: space-between;

  .facilities__image{
    width: 49%;
    object-fit: cover;
  }

  .accordion{
    width: 49%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;

    .accordion-item{
      border-radius: 0;
      border: 1px solid #C6CBCD;

      .accordion-button:not(.collapsed){
        background-color: transparent;
        color: $black;
      }
      .accordion-button:after{
        background-image: url("../images/facilities/arrow.svg");
        width: 2.6rem;
        height: 2.6rem;
        background-size: 2.6rem;
        margin: 0;
      }
      .accordion-button{
        justify-content: space-between;
      }
      p{
        @include font(Raleway, 24px, 700, $black);
        width: 66.4%;
        align-self: center;
        margin-bottom: 0;
      }

      .accordion-body{
        padding: 15px 22px;
        height: 163px;

        .accordion-body__text{
          @include font(Raleway, 18px, 400, $black);
          overflow: scroll;
          height: 100%;
          padding: 0 54px 0 0;

          &::-webkit-scrollbar{
            width: 7px;
          }

          &::-webkit-scrollbar-thumb{
            background-color: $turquoise;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px){
  .facilities{
    margin-bottom: 88px;
  }
  .facilities__list{
    margin: 36px 0 0;

    .accordion{
      .accordion-item{
        img{
          width: 35px;
        }
        .accordion-button:after{
          width: 2.2rem;
          height: 2.2rem;
          background-size: 2.2rem;
        }
        p{
          font-size: 18px;
        }

        .accordion-body{
          padding: 15px 21px 0;
          height: 106px;

          .accordion-body__text{
            font-size: 14px;
            padding: 0 45px 0 0 ;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .facilities{
    margin-bottom: 12px;
  }
  .facilities__list{
    margin: 29px 0 0;
    flex-direction: column;

    .facilities__image{
      width: 100%;
      height: 144px;
      margin-bottom: 29px;
    }

    .accordion{
      width: 100%;

      .accordion-item{
        margin-bottom: 19px;

        .accordion-button{
          padding: 12px;
        }
        p{
          font-size: 14px;
          text-align: center;
        }

        .accordion-body{
          padding: 15px 25px 0 21px;
          height: 138px;

          .accordion-body__text{
            font-size: 13px;
          }
        }
      }
    }
  }
}