@import "blanks.scss";

.futures{
  background-color: $turquoise;

  .container{
    @include desktop-width();
    height: 250px;
    display: flex;

    .futures__item{
      @include font(Raleway, 24px, 400, #fff);
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      span{
        padding: 0 50px;
        font-weight: 700;
        font-size: 64px;
        line-height: 100px;
      }

      &:nth-child(odd){
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
      }
    }
  }
}

@media(max-width: 1024px){
  .futures{
    .container{
      height: 166px;

      .futures__item{
        span{
          padding: 0;
          font-size: 48px;
          line-height: 75px;
        }
      }
    }
  }
}

@media(max-width: 768px){
  .futures{
    background-color: $turquoise;

    .container{
      @include desktop-width();
      height: auto;
      display: grid;
      grid-template-columns: 144px 144px;
      justify-content: center;

      .futures__item{
        width: auto;
        border-bottom: 1px solid #fff;
        font-size: 20px;

        span{
          font-weight: 700;
          font-size: 48px;
          line-height: 100px;
        }

        &:nth-child(odd){
          border-right: 0;
          border-left: 0;
        }
      }
    }
  }
}