@import "blanks";

.work{
  max-width: 1510px;
  margin: 0 auto 84px;

  .pictures__list{
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    #waves{
      grid-row: 1/3;
      grid-column-start: 3;
      grid-column-end: 4;
    }

    .picture__item{
      position: relative;

      .item__inner{
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        background: $gradient;

        .inner__logo{
          width: 42px;
          margin-bottom: 57px;
        }

        .inner__title{
          @include font(Raleway, 24px, 700, #fff);
          padding: 11px 0;
        }
        .inner__subtitle{
          @include font(Raleway, 18px, 400, #fff);
          padding: 6px 0;
        }
      }

      img:hover~.item__inner{
        display: flex;
        opacity: 0;
      }
      .item__inner:hover{
        display: flex;
        animation-name: appear;
        animation-duration: 1s;
      }
      .work__image{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .work{
    margin: 0 auto 58px;

    .pictures__list{
      margin-top: 28px;

      .picture__item{

        .item__inner{

          .inner__logo{
            width: 28px;
            margin-bottom: 38px;
          }

          .inner__title{
            font-size: 18px;
            padding: 6px 0;
          }
          .inner__subtitle{
            font-size: 14px;
            padding: 3px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px){
  .work{
    margin: 0 auto 29px;

    .pictures__list{
      margin-top: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "girl waves"
                           "mirror waves"
                           "color waves"
                           "house old"
                           "business business";


      .work__image{
        object-fit: cover;
      }
      #girl{
        grid-area: girl;
      }
      #old{
        grid-area: old;
      }
      #waves{
        grid-area: waves;
      }
      #house{
        grid-area: house;
      }
      #mirror{
        grid-area: mirror;
      }
      #business{
        max-height: 152px;
        grid-area: business;
      }
      #color{
        grid-area: color;
      }
      .picture__item{

        img:hover~.item__inner{
          display: none;
        }
        .item__inner:hover{
          display: none;
        }
      }
    }
  }
}